/* inizio layout settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}
/* fine layout settings */
/* inizio header */
h1 {
    padding-top: 0.8%;
    padding-left: 1.5%;
    padding-bottom: 0.8%;
}
header {
  background-color: white;
}
/* fine header */
/* inizio finestra centrale */
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
    /* inizio items */
    .btn {
      text-decoration: none;
      border: 1px solid #d2d8db;
      padding: 5px;
      border-radius: 5px;
      color: #d2d8db;
    }
    .chk {
        color: #34c8ae;
        border: 1px solid #34c8ae;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        display: inline-block;
        font-size: 10px;
        text-align: center;
        font-weight: bolder;
        margin-right: 1.4%;
    }
    .crss {
        color: #ff2526;
        border: 1px solid #ff2526;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        display: inline-block;
        font-size: 10px;
        text-align: center;
        font-weight: bolder;
        margin-right: 1.4%;
    }
    /* box colors presets */
    .bluebox {
        background-color:#0aa9ed;
        border: 1px solid #0aa9ed;
        color: white;
    }
    /* fine items */
    /* inizio header finestra */
    .top {
        background-color: white;
        padding-top: 1.6%;
        padding-bottom: 1.6%;
        padding-left: 5.5%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        
    }
    /* fine header finestra */
    /* inizio body finestra */
    .tab {
        background-color: white;
        padding-left: 5.5%;
        margin-top: 1px;
    }
    .TBLSection {
        color: #434851;
        padding-top: 3.5%;
    }
    /* fine body finestra */
/* fine finestra centrale */