/* inizio page settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}
/* fine page settings */
/* inizio header */
h1 {
    padding-top: 0.8%;
    padding-left: 1.5%;
    padding-bottom: 0.8%;
}
header {
  background-color: white;
}
/* fine header */
/* inizio finestra centrale */
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
    /* inizio items */
    .btn {
      text-decoration: none;
      border: 1px solid #d2d8db;
      padding: 5px;
      border-radius: 5px;
      color: #d2d8db;
    }
    /* box colors presets */
    .bluebox {
        background-color:#0aa9ed;
        border: 1px solid #0aa9ed;
        color: white;
    }
    /* fine items */
    /* inizio header finestra */
    .top {
        background-color: white;
        border: 1px hidden;
        padding-top: 1.6%;
        padding-bottom: 1.6%;
        padding-left: 5.5%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        
    }
    /* fine header finestra */
    /* inizio body finestra */
    
    /* fine body finestra */
/* fine finestra centrale */